.cursor0{
    cursor: url('/icons/cursor0.png'), pointer;
}

.cursor1{
    cursor: url('/icons/cursor1.png'), pointer;
}

.cursor2{
    cursor: url('/icons/cursor2.png'), pointer;
}

.cursor3{
    cursor: url('/icons/cursor3.png'), pointer;
}

.cursor4{
    cursor: url('/icons/cursor4.png'), pointer;
}

.cursor5{
    cursor: url('/icons/cursor5.png'), pointer;
}

.cursor6{
    cursor: url('/icons/cursor6.png'), pointer;
}

.cursor7{
    cursor: url('/icons/cursor7.png'), pointer;
}

.cursor8{
    cursor: url('/icons/cursor8.png'), pointer;
}

.cursor9{
    cursor: url('/icons/cursor9.png'), pointer;
}

.cursor10{
    cursor: url('/icons/cursor10.png'), pointer;
}

*{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body{
    background-color: #2d2b2a;
}

#JeySen h2{
    font-family: 'VT323', monospace;
    font-size: 48px;
}

h3{
    color: white;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

.LsbImg img{
    height: 100%;
    width: 100%;
}

.arrowIMG{
    height: 50px;
    width: 150px;
}

#balanceText{
    font-family: 'ADLaM Display', cursive;
    font-size: 30px;
    color: white;
    text-align: start;
}

#balanceDiv{
    max-width: 900px;
    overflow: scroll;
}

#balanceNum{
    color: white;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    margin-right: 10px;
    margin-left: 15px;
}

@media all and (max-width: 600px) and (orientation:portrait) 
{
    *{
        display: none;
    }
}





@media all and (max-width: 600px) and (orientation:landscape) 
{
    *{
        display: none;
    }
}