---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="wrapper flex">

			<div class="Lsidebar w-[90vh] h-[100vh]">

			</div>

			<div id="JeySen" class="justify-center items-center mt-[30vh]">
				<h2 class="text-gray-500 text-center mb-5">JeySen</h2>
				<img src="https://cdn.discordapp.com/avatars/327165058524250112/e1a4b656d14fe138d810c362893b0568.webp?size=160">
			</div>

		</div>
		
	</main>
</Layout>
