---
import Layout from '../layouts/Layout.astro';
import Shop from '../layouts/Shop.astro';
---

<Layout>
	<main class="cursor0">
		<div class="flex">

			<Shop />

			<div class="flex flex-col w-[800px]">
				<div id="JeySen" class="justify-center items-center mt-[30vh]">
					<h2 id="mainText" class="text-gray-500 ml-[20px] mb-5">JeySen</h2>
					<button onclick="mainButton()" id="mainButton">
						<img id="mainClick" src="https://cdn.discordapp.com/avatars/327165058524250112/e1a4b656d14fe138d810c362893b0568.webp?size=160">
					</button>
				</div>

				<div class="flex flex-col">
					<h3 id="balanceText">Balance:</h3>
					<div id="balanceDiv" class="flex overflow-auto w-[900px]">
						<h3 id="balanceNum">0</h3>
						<img src="/icons/McDonald_CZ.png" class="w-11 h-11">
					</div>
				</div>
			</div>
			
		</div>
		
	</main>
</Layout>
